<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Simple Amazing UI</h1>
        <p>This is a template for a simple. It includess a large callout called a jumbotron and blah</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/friends"
                role="button"
                class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-mobile"></i></span>
                <br>Friends
            </a>
        </div>
        <div class="col-sm">
            <a href="/friends"
                role="button"
                class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-mobile"></i></span>
                <br>Friends
            </a>
        </div>
        <div class="col-sm">
            <a href="/friends"
                role="button"
                class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>Friends
            </a>
        </div>
        <div class="col-sm">
            <a href="/friends"
                role="button"
                class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>Friends
            </a>
        </div>
        <div class="col-sm">
            <a href="/friends"
                role="button"
                class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>Friends
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img width="200px" height="160px" src="/assets/images/horse4.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Horse</h5>
                    <p class="card-text"> Some quick example text content.</p>
                    <a href="#" class="btn btn-primary">View Horse</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img width="200px" height="160px" src="/assets/images/horse1.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Horse</h5>
                    <p class="card-text"> Some quick example text content.</p>
                    <a href="#" class="btn btn-primary">View Horse</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img width="200px" height="160px" src="/assets/images/horse2.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Horse</h5>
                    <p class="card-text"> Some quick example text content.</p>
                    <a href="#" class="btn btn-primary">View Horse</a>
                </div>
            </div>
        </div>
    </div>
</div>